<main class="main">
  <h1 class="h1">TODO List</h1>
  <h2 class="h2">A place to store your todos</h2>
  <form class="filter-form">
    <input
      type="text"
      name="filter"
      class="filter"
      id="filter"
      placeholder="Filter your to-dos"
    />
  </form>
  <ol class="list">
    <li *ngFor="let todo of todos">
      <div class="list-item">
        <button class="complete-button" *ngIf="todo.completed === false">
          Complete
        </button>
        <span class="task" [class.complete]="todo.completed">{{
          todo.task
        }}</span>
        <button class="x">X</button>
      </div>
    </li>
  </ol>

  <form class="add-form">
    <input
      type="text"
      name="add"
      class="add"
      id="add"
      placeholder="Add your to-do"
    />
    <button class="add-button">Add</button>
  </form>
</main>
